@model EvidencijaRadnogVremena.Models.Market

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-8"><h2>Da li ste sigurni da želite da izbrišete market?</h2></div>
    <div class="col-4">
        <span class="float-right">
            @Html.ActionLink(" Povratak na listu marketa", "Index", "", new { @class = "btn btn-secondary fa fa-undo" })
        </span>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SifraMarketa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SifraMarketa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adresa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adresa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Naziv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Naziv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PonedeljakRadnoVreme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PonedeljakRadnoVreme)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.UtorakRadnoVreme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UtorakRadnoVreme)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.SredaRadnoVreme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SredaRadnoVreme)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.CetvrtakRadnoVreme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CetvrtakRadnoVreme)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.PetakRadnoVreme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PetakRadnoVreme)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.SubotaRadnoVreme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubotaRadnoVreme)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.NedeljaRadnoVreme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NedeljaRadnoVreme)
            </dd>
        </dl>
    </div>
</div>

<div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value=" Delete" class="btn btn-danger" /> 
    </div>
}
</div>
