@model EvidencijaRadnogVremena.Models.Market

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Market</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SifraMarketa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraMarketa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PonedeljakPocetakRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PonedeljakPocetakRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PonedeljakKrajRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PonedeljakKrajRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtorakPocetakRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtorakPocetakRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtorakKrajRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtorakKrajRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SredaPocetakRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SredaPocetakRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SredaKrajRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SredaKrajRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CetvrtakPocetakRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CetvrtakPocetakRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CetvrtakKrajRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CetvrtakKrajRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetakPocetakRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetakPocetakRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetakKrajRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetakKrajRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubotaPocetakRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubotaPocetakRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubotaKrajRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubotaKrajRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NedeljaPocetakRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NedeljaPocetakRadnogVremena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NedeljaKrajRadnogVremena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NedeljaKrajRadnogVremena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarketId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
