@model EvidencijaRadnogVremena.Models.Worker

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-8"><h2>Da li ste sigurni da želite da izbrišete radnika?</h2></div>
    <div class="col-4">
        <span class="float-right">
            @Html.ActionLink(" Povratak na listu radnika", "Index", "", new { @class = "btn btn-secondary fa fa-undo" })
        </span>
    </div>
</div>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Market.SifraMarketa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Market.SifraMarketa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SifraRadnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraRadnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uloga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uloga)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
