@model IEnumerable<EvidencijaRadnogVremena.Models.NedeljniPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nedeljni raspored za market</h2>
<p>

    @* @Html.DropDownList("MarketId", null, "Izaberite market", htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged()" })*@
</p>

<p>
    <form action="/NedeljniPlans" method="post">
        @using (Html.BeginForm("Index", "NedeljniPlans", FormMethod.Get))
        {
            <table class="table">
                <tr>
                    <td>@Html.DropDownList("MarketId", null, "Izaberite market", htmlAttributes: new { @class = "form-control" })</td>
                    <td><input type="submit" value="Prikaži" class="btn btn-primary" /></td>
                    <td>@Html.ActionLink("Dodaj novi nedeljni raspored", "Create", new { MarketId = 1 }, new { @class = "btn btn-primary" })</td>
                </tr>
            </table>
        }

    </form>
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarketId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketId)
            </td>
            <td>
                @Html.ActionLink("Izmeni", "Edit", new { id = item.NedeljniPlanId }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.NedeljniPlanId }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.NedeljniPlanId })
            </td>
        </tr>
    }

</table>

