@model EvidencijaRadnogVremena.Models.Radnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Radnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Market.SifraMarketa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Market.SifraMarketa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SifraRadnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraRadnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uloga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uloga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RadnikId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
